html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100%;
}

.cherries-box {
	grid-column: 1;
	grid-row: 1/3;
	background-image: url(../images/w06_cherries.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.grey-box {
	grid-column: 2;
	grid-row: 1/3;
	background-color: grey;
}

.text-top {
	grid-column: 1/3;
	grid-row: 1;
	text-align: center;
	font-size: 200px;
	font-weight: bold;
}

.text-top p {
	margin: 150px 0 0 0;
}

.text-bottom {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
	font-size: 75px;
	font-weight: bold;
	color: #ab2c2f;
}

.text-bottom p {
	margin: 150px 0 0 0;
}