@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Marcellus&display=swap');

:root{
    --primary-color: #415A77 ;
    --secondary-color: #AEECEF;
    --accent1-color: #C8553D;
    --accent2-color: #566E3D;
    --accent3-color: #dcdcdc;
    --accent4-color: #FFFFFF;
    --accent5-color: #000000;

    --heading-font: "Kalam";
    --paragraph-font: Marcellus, Helvetica, sans-serif;
}

.arizona-msg h2 {
    font-family:var(--heading-font);
}

body {
background-color: var(--accent3-color);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
}

footer {
    background-color:var(--primary-color);
    color:var(--accent4-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    background-color:var(--primary-color);
    color:var(--accent4-color);
    text-decoration: none;
}

footer a:hover {
    background-color:var(--accent1-color);
}

footer p {
    font-size: 1.2em;
}   

footer p a:hover {
    text-decoration: underline;
} 

header {
    background-color:var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

.home-grid {

}

.idaho-msg h2 {
    font-family:var(--heading-font);
}

.logo {
    width: 80px;
    padding-top: 10px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

main {
    text-align: center;
}

nav a{
    text-align: center;
    color:var(--accent4-color);
    text-decoration: none;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

nav a:hover {
    background-color:var(--secondary-color);
    color:var(--accent5-color);
}

.river-img1 {

}

.river-img2 {

}

.utah-msg h2 {
    font-family:var(--heading-font);
}