@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Marcellus&display=swap');

:root{
    --primary-color: #415A77 ;
    --secondary-color: #AEECEF;
    --accent1-color: #C8553D;
    --accent2-color: #566E3D;
    --accent3-color: #dcdcdc;
    --accent4-color: #FFFFFF;
    --accent5-color: #000000;

    --heading-font: "Kalam";
    --paragraph-font: Marcellus, Helvetica, sans-serif;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
}

nav a{
    text-align: center;
    color:var(--accent4-color);
    text-decoration: none;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.home-title {
    color:var(--accent2-color);
    font-family:var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color:var(--accent4-color)
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.button-box {
    text-align: center;
}

main {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color:var(--accent3-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color:var(--secondary-color);
    color:var(--accent5-color);
}

h2 {
    margin: 0;
}

.book {
    background-color:var(--accent2-color);
    color:var(--accent4-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color:var(--accent1-color);
    color:var(--accent4-color);
}

.join {
    background-color:var(--accent2-color);
    color:var(--accent4-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color:var(--accent1-color);
}

#background {
    background-color:var(--accent1-color);
}

.msg {
    background-color:var(--accent2-color);
    color:var(--accent4-color);
    font-size: .8em;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color:var(--primary-color);
    color:var(--accent4-color);
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    background-color:var(--primary-color);
    color:var(--accent4-color);
    text-decoration: none;
}

footer a:hover {
    background-color:var(--accent1-color);
}

footer p {
    font-size: 1.2em;
}    

h4 {
    color:var(--accent2-color);
}

.logo {
    width: 80px;
    padding-top: 10px;
}

.social {
    padding-top: 15px;
}

.card-img {
    border: 10px solid var(--accent1-color);
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}