@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Prompt&display=swap');

:root {
  --primary-color: #1B998B   ;
  --secondary-color: #C73E1D ;
  --accent1-color: #C59849;
  --accent2-color: #F3E8EE;

  --heading-font: 'Indie Flower', cursive;
  --paragraph-font: 'Prompt', sans-serif;

  --headline-color-on-white: #1B998B;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #C73E1D; 
  --paragraph-color-on-color: white; 
  --paragraph-background-color: #1B998B  ;
  --nav-link-color: #F3E8EE;
  --nav-background-color: #C73E1D;
  --nav-hover-link-color: #C59849;
  --nav-hover-background-color: #1B998B;
}

#contactus {
    font-size: 2.5em;
    font-family:var(--heading-font);
    padding-left: 150px;
    padding-bottom: 0;
}

header {
    background-color:var(--secondary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 80px;
    padding-top: 10px;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a{
    text-align: center;
    color:var(--accent2-color);
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color:var(--primary-color);
    color:var(--accent1-color);
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-family:var(--heading-font);
}

/* contact us form */

form {
    width: 400px;
    padding-left: 100px;
    padding-top: 150px;
  }
  
  ul {
    list-style: none;
    padding: 150px;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}

.moveDown {
    margin-top: 3em;
}