@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Prompt&display=swap');

:root {
  --primary-color: #1B998B   ;
  --secondary-color: #C73E1D ;
  --accent1-color: #C59849;
  --accent2-color: #F3E8EE;

  --heading-font: 'Indie Flower', cursive;
  --paragraph-font: 'Prompt', sans-serif;

  --headline-color-on-white: #1B998B;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #C73E1D; 
  --paragraph-color-on-color: white; 
  --paragraph-background-color: #1B998B  ;
  --nav-link-color: #F3E8EE;
  --nav-background-color: #C73E1D;
  --nav-hover-link-color: #C59849;
  --nav-hover-background-color: #1B998B;
}

footer a {
    font-size: 1.5em;
    color:var(--accent2-color);
    text-decoration: none;
}

footer a:hover {
    color:var(--primary-color);
    background-color:var(--accent1-color);
}

footer {
    background-color:var(--secondary-color);
    color:var(--accent4-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    background-color:var(--secondary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 80px;
    padding-top: 10px;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a{
    text-align: center;
    color:var(--accent2-color);
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color:var(--primary-color);
    color:var(--accent1-color);
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-family:var(--heading-font);
}